@media (max-width:1200px){
   .max{
       height: 650px;
   }
   
  
}

@media (max-width:1024px){
   .burger_abs, .burger_fix{
       display: block;
   }
   .header_list{
       display: none;
   }
   .header_abs_inner{
       justify-content: space-between;
   }
   .header_fix_inner{
    justify-content: start;
   }
   .classes_inner{
    clip-path: polygon(100% 3%, 100% 100%, 0 100%, 0 0);
   }
   .max{
    height: 700px;
    }
    .food_inner{
        flex-direction: column;
        img{
            object-fit: contain;
        }
    }
  
}

@media (max-width:992px){
   .hero_btn button{
       height: 50px;
   }
//    .hero_logo{
//     margin-top:-110px;
//     }
    .hero{
        min-height: 70vh;
    }
    .skills{
        grid-template-columns: 1fr;
        //place-items: center;
        padding: 100px;
    }
    .about_left{
        line-height: 30px;
    }
    .classes_grid{
        grid-template-columns: 1fr 1fr;
    }
    .classes_title h2{
           &::before{
           position: absolute;
           left:20%;
           top:110%;
           margin: 0;
       }
       &::after{
          position: absolute;
          right:20%;
          top:110%;
          margin: 0;
           
       }
    }
    .max{
        height: 750px;
    }
    .footer_inner{
        grid-template-columns: 1fr;
        gap:20px;
    }
    .footer{
        padding: 20px;
    }
}
@media (max-width:800px){
   
}

@media (max-width:768px){
   .pl_item{
       font-size: 14px;
   }
   .about_inner{
       display: block;
   }
   .max{
    height: 850px;
    }
    .visit_inner{
       flex-direction: column;
      
    }
    .hero_info, .hero_logo{
        flex-basis: 45%;
    }
}

@media (max-width:667px){
    // .hero_logo{
    //     margin-top:-80px;
    // }
    .skills_subtitle{
        padding: 50px;
    }
    .classes_grid{
        grid-template-columns: 1fr;
    }
    .max{
        height: 950px;
    }
    .aai_hidden{
        max-height: 200px;
    }
    .hidden{
        max-height: 0;
        padding: 0;
    }
    .swiper-button-next::after, .swiper-button-next::before,
.swiper-button-prev::after,
.swiper-button-prev::before {
  display: none;
}
    
}


@media (max-width:568px){
   
    .hero_subtitle{
        padding-top: 240px;
    }
   .hero_btn button{
    height: 30px;
    }
    address, .hero_info div a{
        font-size: 16px;
        letter-spacing: 1px;
    }
   
    // .hero_title{
    //     padding: 73px 20px;
    // }
    // .hero_logo{
    //    margin-top:96px;
    //     img{
    //         width: 80%;
    //         height: 80%;
    //     }
    // }
    .skills{
    padding: 40px 20px 20px 20px;
    .skills_item{
        gap:20px;
    }
}
    .notice{
        font-size: 12px;
    }
    .skills_subtitle{
        padding: 20px;
    }
    .pl_item{
        font-size: 12px;
    }
    .rules_list li{
        line-height: 20px;
    }
    .max{
        height: 1050px;
    }
    .rules_inner{
        display: block;
    }
    .visit_inner{
        
        padding-top: 20px;
    }
    .visit_left, .visit_right{
        padding: 20px 10px;
    }
    .rules_wrapper{
       
        min-height: 600px;
    }
    .hero_title img, .hero_subtitle img{
        width: 90%;
        height: 90%;
    }
}
@media (max-width:376px){
    .max{
        height: 1600px;
    }
    .aai_hidden{
        max-height: 200px;
        line-height: 15px;
    }
    .hidden{
        max-height: 0;
        padding: 0;
    }
    address, .hero_info div a{
        font-size: 14px;
    }
}